.col-xs-12 {
    a {
        color: white;
        &:hover {
            color: greenyellow;
        }
    }
    .copyright p {
      padding-bottom: 25px;
    }
    .social {
      display: inline;
      width: 300px
    }
    img {
      margin-right: 10px;
      transition: all 1s;
      &:hover {
        margin-left: 5px;
        margin-right: 5px;
        transform: rotateZ(15deg);
      }
    }  
}
