// ZONA OESTE
span h2{
    color: map-get($colores , colorTxt );
    text-align: center;
    font-size: 55px;
}
#bares_Z_O {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 150px;
    p {
        text-align: center;
    }
    h4 {
        color: map-get($colores , colorTxt);
        margin-bottom: 50px;
        padding-left: 90px;
        margin-top: 50px;
        margin-left: 15px;
        border-bottom: 5px double orange;
        border-radius:30px 30px;
        width: 25%;
        font-family:'Elsie Swash Caps', cursive;
        font-size: 45px;
    }
    .bar1, .bar2, .bar3, .bar4{
        @include divs_bares ;
    }
    .redes {
        display: flex;
        gap: 20px;
        a {
            height: min-content;
            padding-top: 60px;
        }
        h5 {
            padding-top: 60px;
            font-family:'Elsie Swash Caps', cursive;
            font-size: 20px;
            color: map-get($colores , colorTxt );
            width: auto;
        }
    }
    .iframe_img {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        img {
            width: auto;
            height: 200px;
            border-radius: 25px;
            opacity: .6;
            margin-top: 30px;
            transition: all 1s;
            &:hover {
                transform: scale(1.5);
                opacity: .9;
                padding-bottom: 40px;
                padding-right: 15px;
            }
        }
    }
    iframe {
        margin-top: 20px;
        width: auto;
    }
}















// ZONA NORTE 


















// ZONA SUR