// Pag.Cervezas
@media (min-width: 412px) and (max-width: 1100px) {
    #cont_cvz {
        .lager_cvz,.apa,.bock,.pilsen,.ipa,.stout_porter,.ale,.pale_ale {
            display: flex;
            flex-direction: column;
        }
        .apa {
            margin-top: 50px;
        }
    }
    .logos_fabricas {
        background-color: rgb(31, 30, 30);
        ul {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(5, auto);
            row-gap: 20px;
        }
}

@media (max-width:590px) {
    .cvz_style_h3 {
        margin-top: 100px;
        h3{
            display: none;
        }
    }
}
//Pag.Destinos
@media (min-width: 412px) and (max-width: 992px) {
    #section1_destinos, .img1_destin p {
        text-align: center;
    }
    .carousel {
        width: 100%;
        margin-left: 0%;
        img {
            height: auto;
        }
    }
}


// Footer
@media (min-width: 412px) and (max-width: 992px) {
    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-left: 20px;
    }
}
}



// Pag. Zonas
@media (min-width: 412px) and (max-width: 1100px) {
    #bares_Z_O {
        h4{
            padding-left: 0%;
            width: auto;
            text-align: center;
        }
        .bar1, .bar2, .bar3, .bar4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            row-gap: 30px;
            img {
                width: auto;
                height: 200px;
                border-radius: 25px;
                opacity: .6;
                margin: auto;
                transition: all 1s;
                &:hover {
                    transform: scale(1.2);
                    opacity: .9;
                    padding-bottom: 40px;
                    padding-right: 15px;
                }
            }
        }
    }
    
}