// Global
* {
    margin: 0px;
    padding : 0px;
    box-sizing: border-box;
    p {
        font-family: 'Elsie Swash Caps', cursive;
        font-size: 20px;
    }
    h2,h3 {
        font-family: 'Sancreek', cursive;
    }
}

// P치gina index
body {
    p{
        color: map-get($colores, colorTxt );
    }
}
#article_1 {
    padding-top: 20px;
}
#article_1,#article_2,#article_3 {
    text-align: center;
    margin-top: 80px;
    a {
        text-decoration: none;
        color: map-get($colores, colorTxt );
        font-family: 'Sancreek', cursive;
    }
    h2:hover{
        color: map-get($colores, colorTxt );
        transform: scale(2);
        padding-bottom: 20px;
        padding-top: 10px;
        transition: all 1s;
    }
    p {
        padding-top: 15px;
    }
    
}
#article_2 {
    padding-top: 30px;

}
#article_3{
    padding-top: 10px;
    padding-bottom: 100px;

}

// P치gina Cerveza

body {
    background-color: map-get($colores, colorBg ) !important;
}
video {
    width: 100%;
}
.estilos_cvz {
    margin-top: 50px;
    h3 {
        font-size: 50px;
        color: map-get($colores, colorTxt );
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        border: 5px solid orange;
        border-radius: 10px;
    }
    img {
        width: 100%;
    }
    p {
        text-align: center;
    }
    .estilos_div_1 {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        gap: 10px;
        h4 {
            color: map-get($colores , colorTxt );
            font-family: 'Sancreek', cursive;
        }
        img {
            width: 30px;
        }
    }
    .estilos_div_2 {
        display: flex;
        flex-direction: row;
        img {
            width: 500px;
            height: 300px;
        }
    }
    .estilos_div_3 {
        @extend .estilos_div_1
    }
    .estilos_div_4 {
        @extend .estilos_div_2
    }
}
#cont_cvz {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    .cvz_style_h3 {
        margin-right: 25%;
        margin-left: 25%;
        h3 {
            color: map-get($colores, colorTxt );
            text-align: center;
            margin-top: 150px;
            border: 5px solid orange;
            border-radius: 10px;
            height: 100px;
            padding-top: 25px;
            font-size: 40px;
        }
        p {
            padding-top: 30px;
        }
    }
    
}
.lager_cvz,.apa,.bock,.pilsen {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    p {
        text-align: center;
    }
    img {
        border-radius: 20px;
    }
}
.ipa,.stout_porter,.ale,.pale_ale {
    display: flex;
    flex-direction: row;
    width: auto;
    p {
        text-align: center;
    }
    img {
        border-radius: 20px;
    }
}
.apa {
    padding-top: 100px;
}
.pale_ale {
    margin-bottom: 100px;
}
.logos_fabricas {
    background-color: rgb(31, 30, 30);
    ul{
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: 1fr;
    row-gap: 10px;
    list-style: none;
    margin-bottom: 50px;
    }
    img {
        height: 90px;
        width: auto;
    }
}
.logos_fabricas2 {
    display: flex;
    justify-content: center
}
.logo__lupulo {
    @include mx_logo_lupulo ;
} 

// P치gina Destinos
.carousel {
    display: flex;
    margin-left: 190px;
    width: 70%;
    height: auto;
    img {
        width: 100%;
        height: 600px;
        border-radius: 20px;
    }
}

.img1_destin {
    margin-top: 70px;
    p {
        text-align: center;
    }
}

#section1_destinos {
    h3{
        text-align: center;
        color: map-get($colores, colorTxt );
        margin-top: 150px;
        padding-bottom: 20px;
        font-size: 40px;
        a{
            color: map-get($colores, colorTxt );
            text-decoration: none;
        }
    }
    p {
        text-align: center;
    }
}


// P치ginas Contacto


#section1_contac {
    padding-left: 10px;
    margin-bottom: 100px;
    h2,h3, label, .div7__tYc { 
        color: map-get($colores, colorTxt );
    }
    h2 {
        font-size: 50px;
    }
    input,label {
        display: flex;
        margin-top: 10px;
        font-family: 'Elsie Swash Caps', cursive;
    }
    .div6__msj {
        display: flex;
        flex-direction: column;
        width:min-content;
    }
    .div7__tYc {
        display: flex;
        margin-top: 10px;
        gap: 10px;
    }
    .div8__value {
        display: flex;
        gap: 40px;
        padding-top: 20px;
        input {
            font-family: 'Elsie Swash Caps', cursive;
            padding-left: 5px;
            height: 50px;
            width: 100px;
            border-radius: 15px;
            color: orange;
            background-color: black;
            transition: all 1s;
            &:hover {
                background-color: rgb(43, 42, 42);
                border-color:orange ;
            }
        }
    } 
    input[type="checkbox"] { display: none; }
    input[type="checkbox"] + label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        font: 14px/20px 'Elsie Swash Caps', cursive;
        cursor: pointer;
    }

    input[type="checkbox"] + label:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid orange;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all .12s, border-color .08s;
        transition: all .12s, border-color .08s;
    }

    input[type="checkbox"]:checked + label:before {
        width: 10px;
        top: -5px;
        left: 5px;
        border-radius: 0;
        opacity: 1;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}  
        




