// Maps
$colores: (
    colorTxt: orange,
    colorBg: rgb(32, 32, 32),
    colorTxt2: greenyellow
);
// Variables
$h1FontSize : 55px;

// Mixins
@mixin mx_logo_lupulo {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 150px;
    img {
        height: 250px;
        width: 450px;
        position: relative;
    }
}
