// Maps
$colores: (
    colorTxt: orange,
    colorBg: rgb(32, 32, 32),
    colorTxt2: greenyellow
);
// Variables
$h1FontSize : 55px;

// Mixins
@mixin mx_logo_lupulo {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: 150px;
    img {
        height: 250px;
        width: 450px;
        position: relative;
    }
}
// mixin bares en las diferentes zonas
@mixin divs_bares {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    img {
        width: auto;
        height: 200px;
        border-radius: 25px;
        opacity: .6;
        margin: auto;
        transition: all 1s;
        &:hover {
            transform: scale(1.5);
            opacity: .9;
            padding-bottom: 40px;
            padding-right: 15px;
        }
    }
}

