#header {
  width: 100%;
  height: 50vh;
  background-color: #1d2527;
}
#header .logo__lupulo {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  height: 150px;
}
#header .logo__lupulo img {
  height: 250px;
  width: 450px;
  position: relative;
}
#header h1 {
  font-size: 55px;
  text-align: center;
  color: orange;
  font-family: "Sancreek", cursive;
}
#header h4 {
  font-size: 25px;
  text-align: center;
  color: orange;
  font-family: "Sancreek", cursive;
}
#header .header_logo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#header h2 {
  text-align: center;
  color: orange;
  font-size: 65px;
}
#header .navbar {
  z-index: 100;
  border-radius: 10px;
  opacity: 0.6;
}
#header .navbar .collapse ul li a {
  font-family: "Elsie Swash Caps", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* p {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 20px;
}
* h2, * h3 {
  font-family: "Sancreek", cursive;
}

body p {
  color: orange;
}

#article_1 {
  padding-top: 20px;
}

#article_1, #article_2, #article_3 {
  text-align: center;
  margin-top: 80px;
}
#article_1 a, #article_2 a, #article_3 a {
  text-decoration: none;
  color: orange;
  font-family: "Sancreek", cursive;
}
#article_1 h2:hover, #article_2 h2:hover, #article_3 h2:hover {
  color: orange;
  transform: scale(2);
  padding-bottom: 20px;
  padding-top: 10px;
  transition: all 1s;
}
#article_1 p, #article_2 p, #article_3 p {
  padding-top: 15px;
}

#article_2 {
  padding-top: 30px;
}

#article_3 {
  padding-top: 10px;
  padding-bottom: 100px;
}

body {
  background-color: rgb(32, 32, 32) !important;
}

video {
  width: 100%;
}

.estilos_cvz {
  margin-top: 50px;
}
.estilos_cvz h3 {
  font-size: 50px;
  color: orange;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 5px solid orange;
  border-radius: 10px;
}
.estilos_cvz img {
  width: 100%;
}
.estilos_cvz p {
  text-align: center;
}
.estilos_cvz .estilos_div_1, .estilos_cvz .estilos_div_3 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 10px;
}
.estilos_cvz .estilos_div_1 h4, .estilos_cvz .estilos_div_3 h4 {
  color: orange;
  font-family: "Sancreek", cursive;
}
.estilos_cvz .estilos_div_1 img, .estilos_cvz .estilos_div_3 img {
  width: 30px;
}
.estilos_cvz .estilos_div_2, .estilos_cvz .estilos_div_4 {
  display: flex;
  flex-direction: row;
}
.estilos_cvz .estilos_div_2 img, .estilos_cvz .estilos_div_4 img {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.estilos_cvz .estilos_div_4 img {
  width: 500px;
  height: 450px;
}

#cont_cvz {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow-x: hidden;
}
#cont_cvz h3 {
  color: orange;
  text-align: center;
  margin-top: 150px;
  border: 5px solid orange;
  border-radius: 10px;
  height: 100px;
  padding-top: 25px;
  font-size: 40px;
}
#cont_cvz .cvz_style_h3 {
  margin-right: 25%;
  margin-left: 25%;
}
#cont_cvz .cvz_style_h3 p {
  padding-top: 30px;
}

.lager_cvz, .apa, .bock, .pilsen {
  display: flex;
  flex-direction: row-reverse;
}
.lager_cvz p, .apa p, .bock p, .pilsen p {
  text-align: center;
}
.lager_cvz img, .apa img, .bock img, .pilsen img {
  border-radius: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.ipa, .stout_porter, .ale, .pale_ale {
  display: flex;
  flex-direction: row;
}
.ipa p, .stout_porter p, .ale p, .pale_ale p {
  text-align: center;
}
.ipa img, .stout_porter img, .ale img, .pale_ale img {
  border-radius: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.apa {
  padding-top: 100px;
}

.pale_ale {
  margin-bottom: 100px;
}

.logos_fabricas {
  background-color: rgb(31, 30, 30);
}
.logos_fabricas ul {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: 1fr;
  row-gap: 10px;
  list-style: none;
  margin-bottom: 50px;
}
.logos_fabricas img {
  height: 90px;
  width: auto;
}

.logos_fabricas2 {
  display: flex;
  justify-content: center;
}

.logo__lupulo {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  height: 150px;
}
.logo__lupulo img {
  height: 250px;
  width: 450px;
  position: relative;
}

.carousel {
  display: flex;
  margin-left: 190px;
  width: 70%;
  height: auto;
}
.carousel img {
  width: 100%;
  height: 600px;
  border-radius: 20px;
}

.img1_destin {
  margin-top: 70px;
}
.img1_destin p {
  text-align: center;
}

#section1_destinos h3 {
  text-align: center;
  color: orange;
  margin-top: 150px;
  padding-bottom: 20px;
  font-size: 40px;
}
#section1_destinos h3 a {
  color: orange;
  text-decoration: none;
}
#section1_destinos p {
  text-align: center;
}

#section1_contac {
  padding-left: 10px;
  margin-bottom: 100px;
}
#section1_contac h2, #section1_contac h3, #section1_contac label, #section1_contac .div7__tYc {
  color: orange;
}
#section1_contac h2 {
  font-size: 50px;
}
#section1_contac input, #section1_contac label {
  display: flex;
  margin-top: 10px;
  font-family: "Elsie Swash Caps", cursive;
}
#section1_contac .div6__msj {
  display: flex;
  flex-direction: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
#section1_contac .div7__tYc {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
#section1_contac .div8__value {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
#section1_contac .div8__value input {
  font-family: "Elsie Swash Caps", cursive;
  padding-left: 5px;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  color: orange;
  background-color: black;
  transition: all 1s;
}
#section1_contac .div8__value input:hover {
  background-color: rgb(43, 42, 42);
  border-color: orange;
}
#section1_contac input[type=checkbox] {
  display: none;
}
#section1_contac input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Elsie Swash Caps", cursive;
  cursor: pointer;
}
#section1_contac input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid orange;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.12s, border-color 0.08s;
}
#section1_contac input[type=checkbox]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

#main1__elab h2, #main1__elab h3, #main1__elab h5 {
  color: orange;
  font-family: "Sancreek", cursive;
}
#main1__elab p {
  text-align: center;
}
#main1__elab .div2__elab {
  color: orange;
}
#main1__elab .div2__elab ul li {
  color: rgb(88, 141, 10);
}
#main1__elab .div3__img__elab, #main1__elab .div4__img__elab, #main1__elab .div5__img__elab, #main1__elab .div6__img__elab, #main1__elab .div7__img__elab, #main1__elab .div8__img__elab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
#main1__elab .div3__img__elab img, #main1__elab .div4__img__elab img, #main1__elab .div5__img__elab img, #main1__elab .div6__img__elab img, #main1__elab .div7__img__elab img, #main1__elab .div8__img__elab img {
  border-radius: 20px;
}
span h2 {
  color: orange;
  text-align: center;
  font-size: 55px;
}

#bares_Z_O {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 150px;
}
#bares_Z_O p {
  text-align: center;
}
#bares_Z_O h4 {
  color: orange;
  margin-bottom: 50px;
  padding-left: 90px;
  margin-top: 50px;
  margin-left: 15px;
  border-bottom: 5px double orange;
  border-radius: 30px 30px;
  width: 25%;
  font-family: "Elsie Swash Caps", cursive;
  font-size: 45px;
}
#bares_Z_O .bar1, #bares_Z_O .bar2, #bares_Z_O .bar3, #bares_Z_O .bar4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#bares_Z_O .bar1 img, #bares_Z_O .bar2 img, #bares_Z_O .bar3 img, #bares_Z_O .bar4 img {
  width: auto;
  height: 200px;
  border-radius: 25px;
  opacity: 0.6;
  margin: auto;
  transition: all 1s;
}
#bares_Z_O .bar1 img:hover, #bares_Z_O .bar2 img:hover, #bares_Z_O .bar3 img:hover, #bares_Z_O .bar4 img:hover {
  transform: scale(1.5);
  opacity: 0.9;
  padding-bottom: 40px;
  padding-right: 15px;
}
#bares_Z_O .redes {
  display: flex;
  gap: 20px;
}
#bares_Z_O .redes a {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-top: 60px;
}
#bares_Z_O .redes h5 {
  padding-top: 60px;
  font-family: "Elsie Swash Caps", cursive;
  font-size: 20px;
  color: orange;
  width: auto;
}
#bares_Z_O .iframe_img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}
#bares_Z_O .iframe_img img {
  width: auto;
  height: 200px;
  border-radius: 25px;
  opacity: 0.6;
  margin-top: 30px;
  transition: all 1s;
}
#bares_Z_O .iframe_img img:hover {
  transform: scale(1.5);
  opacity: 0.9;
  padding-bottom: 40px;
  padding-right: 15px;
}
#bares_Z_O iframe {
  margin-top: 20px;
  width: auto;
}

@media (min-width: 412px) and (max-width: 1100px) {
  #cont_cvz .lager_cvz, #cont_cvz .apa, #cont_cvz .bock, #cont_cvz .pilsen, #cont_cvz .ipa, #cont_cvz .stout_porter, #cont_cvz .ale, #cont_cvz .pale_ale {
    display: flex;
    flex-direction: column;
  }
  #cont_cvz .apa {
    margin-top: 50px;
  }
  #cont_cvz .estilos_div_2, #cont_cvz .estilos_div_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #cont_cvz .estilos_div_2 img, #cont_cvz .estilos_div_4 img {
    width: 100%;
    height: auto;
  }
  .logos_fabricas {
    background-color: rgb(31, 30, 30);
  }
  .logos_fabricas ul {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 20px;
  }
}
@media (max-width: 484px) {
  .div1_cvz h3 {
    padding-bottom: 110px;
  }
}
@media (max-width: 590px) {
  .cvz_style_h3 {
    margin-top: 100px;
  }
  .cvz_style_h3 h3 {
    display: none;
  }
}
@media (min-width: 412px) and (max-width: 992px) {
  #section1_destinos, .img1_destin p {
    text-align: center;
  }
  .carousel {
    width: 100%;
    margin-left: 0%;
  }
  .carousel img {
    height: auto;
  }
}
@media (min-width: 412px) and (max-width: 992px) {
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 20px;
  }
}
@media (min-width: 412px) and (max-width: 1200px) {
  #bares_Z_O h4 {
    padding-left: 0%;
    width: auto;
    text-align: center;
  }
  #bares_Z_O .bar1, #bares_Z_O .bar2, #bares_Z_O .bar3, #bares_Z_O .bar4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
  }
  #bares_Z_O .bar1 img, #bares_Z_O .bar2 img, #bares_Z_O .bar3 img, #bares_Z_O .bar4 img {
    width: auto;
    height: 200px;
    border-radius: 25px;
    opacity: 0.6;
    margin: auto;
    transition: all 1s;
  }
  #bares_Z_O .bar1 img:hover, #bares_Z_O .bar2 img:hover, #bares_Z_O .bar3 img:hover, #bares_Z_O .bar4 img:hover {
    transform: scale(1.2);
    opacity: 0.9;
    padding-bottom: 40px;
    padding-right: 15px;
  }
  #bares_Z_O .iframe_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media (min-width: 412px) and (max-width: 1100px) {
  .div3__img__elab, #main1__elab .div4__img__elab, #main1__elab .div5__img__elab, #main1__elab .div6__img__elab, #main1__elab .div7__img__elab, #main1__elab .div8__img__elab, .div4__img__elab, .div5__img__elab, .div6__img__elab, .div7__img__elab, .div8__img__elab {
    display: flex;
    flex-direction: column;
  }
  .div3__img__elab img, #main1__elab .div4__img__elab img, #main1__elab .div5__img__elab img, #main1__elab .div6__img__elab img, #main1__elab .div7__img__elab img, #main1__elab .div8__img__elab img, .div4__img__elab img, .div5__img__elab img, .div6__img__elab img, .div7__img__elab img, .div8__img__elab img {
    width: auto;
    height: auto;
  }
}
.col-xs-12 a {
  color: white;
}
.col-xs-12 a:hover {
  color: greenyellow;
}
.col-xs-12 .copyright p {
  padding-bottom: 25px;
}
.col-xs-12 .social {
  display: inline;
  width: 300px;
}
.col-xs-12 img {
  margin-right: 10px;
  transition: all 1s;
}
.col-xs-12 img:hover {
  margin-left: 5px;
  margin-right: 5px;
  transform: rotateZ(15deg);
}/*# sourceMappingURL=main.css.map */